body{
    background-color: #67BACA;  background-color: #444;
    background: url(menlayer1.png),url(menlayer2.png); background-color: #67BACA;
}

.vertical-offset-100{
    padding-top:40px;
}

.container {
  padding-top: 50px;
  float: right;
}



/*body{
    background: url(./index_background.jpg) no-repeat center top;
    width: 100%;
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(./index_background.jpg) no-repeat center top;
    width: 100%;
}

.vertical-offset-100{
    padding-top:100px;
}*/


